# Node
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
.vite

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Env / secrets
.env
.env.*
!.env.example

# Coverage
coverage

# OS
Thumbs.db

# Local cache
.cache
